@CHARSET "UTF-8";
body { 
  background-color: wihte;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           10px;
}



#header {
  margin:           10px;
  height:           108px;
  font-size: large;
  border: solid;
}


#main {
  background-color: #FCE181;
  font-size:        105%;
  padding:          15px;
  margin:           10px;
  text-align: center;
}

#footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           10px;
  font-size:        90%;
  clear: left;
}


#nav {
    background-color: #efe5d0;
    padding:          15px;
	margin: 10px 10px 0px 10px;
}
#nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
#nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}

li.selected {
	background-color: #c8b99c;
	text-decoration: none;
}

a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}

